.todoList {
    h3 {}
    .inputTask {
        .error {
            border: red 1px solid;
        }
        button {}
    }
    ul {
        .isDone {
            opacity: 0.5;
        }
    }
    .buttons {
        .activLink {
            background-color: aquamarine;
        }
    }
}


.errorMessage {
    color: red;
}